/*==========================
 GOOGLE FONT
==========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*==========================
 RESET
==========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0F172A;
    color:#fff;
    overflow-x:hidden;
    line-height:1.7;
}

/*==========================
 COLORS
==========================*/

:root{

    --primary:#38BDF8;
    --secondary:#9333EA;

    --bg:#0F172A;
    --card:#162033;

    --text:#ffffff;
    --gray:#CBD5E1;

}

/*==========================
 LINKS
==========================*/

a{
    text-decoration:none;
    color:inherit;
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    display:block;
}

/*==========================
 LOADER
==========================*/

#loader{

    position:fixed;
    inset:0;

    background:#08111F;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    z-index:9999;

    transition:.8s;

}

#loader h1{

    font-size:70px;
    color:white;
    margin-bottom:30px;

}

#loader span{

    color:var(--primary);

}

.loader-bar{

    width:260px;
    height:8px;

    border-radius:20px;

    overflow:hidden;

    background:#1E293B;

}

.loader-progress{

    width:0%;

    height:100%;

    background:var(--primary);

    animation:loading 2s linear forwards;

}

@keyframes loading{

    to{
        width:100%;
    }

}

/*==========================
 GLOWING BACKGROUND
==========================*/

.blur{

    position:fixed;

    border-radius:50%;

    filter:blur(120px);

    z-index:-1;

}

.blur1{

    width:320px;
    height:320px;

    background:#38BDF8;

    left:-100px;
    top:120px;

    opacity:.18;

}

.blur2{

    width:350px;
    height:350px;

    background:#9333EA;

    right:-120px;
    bottom:0;

    opacity:.15;

}

/*==========================
 HEADER
==========================*/

header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    z-index:1000;

    backdrop-filter:blur(14px);

    background:rgba(15,23,42,.85);

    border-bottom:1px solid rgba(255,255,255,.05);

}

/*==========================
 NAVBAR
==========================*/

.navbar{

    max-width:1250px;

    margin:auto;

    padding:22px 7%;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    font-size:2rem;

    font-weight:700;

    letter-spacing:1px;

}

.logo span{

    color:var(--primary);

}

.nav-links{

    display:flex;

    gap:35px;

}

.nav-links a{

    color:#CBD5E1;

    position:relative;

    transition:.3s;

    font-weight:500;

}

.nav-links a:hover,
.nav-links .active{

    color:var(--primary);

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.3s;

}

.nav-links a:hover::after,
.nav-links .active::after{

    width:100%;

}

.menu-btn{

    display:none;

    font-size:28px;

    cursor:pointer;

}

/*==========================
 HERO
==========================*/

.hero{

    min-height:100vh;

    display:flex;

    align-items:center;

    justify-content:space-between;

    gap:70px;

    padding:150px 8% 80px;

}

.hero-content{

    flex:1;

    animation:slideLeft 1s ease;

}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;

    animation:slideRight 1s ease;

}

.intro{

    color:var(--primary);

    font-size:22px;

    margin-bottom:15px;

}

.hero h1{

    font-size:78px;

    line-height:1.1;

    margin-bottom:10px;

}

.hero h1 span{

    color:var(--primary);

}

.hero h2{

    font-size:36px;

    color:white;

    margin-bottom:25px;

    height:45px;

}

#typing{

    color:var(--primary);

}

.hero-description{

    max-width:600px;

    color:var(--gray);

    font-size:18px;

    margin-bottom:35px;

}

/*==========================
 PROFILE IMAGE
==========================*/

.profile-image{

    width:390px;

    height:390px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid var(--primary);

    box-shadow:
    0 0 30px rgba(56,189,248,.7),
    0 0 80px rgba(56,189,248,.25);

    animation:float 4s ease-in-out infinite;

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-18px);

    }

    100%{

        transform:translateY(0);

    }

}

/*==========================
 BUTTONS
==========================*/

.hero-buttons{

    display:flex;

    gap:20px;

    margin-top:30px;

}

.btn{

    padding:16px 38px;

    border-radius:50px;

    font-weight:600;

    transition:.35s;

}

.primary{

    background:var(--primary);

    color:#08111F;

}

.primary:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(56,189,248,.4);

}

.secondary{

    border:2px solid var(--primary);

    color:var(--primary);

}

.secondary:hover{

    background:var(--primary);

    color:#08111F;

}

/*==========================
 SOCIAL ICONS
==========================*/

.social-icons{

    display:flex;

    gap:18px;

    margin-top:40px;

}

.social-icons a{

    width:52px;

    height:52px;

    display:flex;

    justify-content:center;

    align-items:center;

    border-radius:50%;

    background:#162033;

    color:var(--primary);

    font-size:22px;

    transition:.35s;

}

.social-icons a:hover{

    transform:translateY(-8px);

    background:var(--primary);

    color:#08111F;

}

/*==========================
 ANIMATIONS
==========================*/

@keyframes slideLeft{

    from{

        opacity:0;

        transform:translateX(-80px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}

@keyframes slideRight{

    from{

        opacity:0;

        transform:translateX(80px);

    }

    to{

        opacity:1;

        transform:translateX(0);

    }

}

/*==================================
    ABOUT SECTION
==================================*/

section{
    padding:100px 8%;
}

.about{

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:70px;
    min-height:100vh;

}

.about-image{

    flex:1;
    display:flex;
    justify-content:center;

}

.about-image img{

    width:380px;
    border-radius:25px;

    box-shadow:0 20px 45px rgba(0,0,0,.35);

    transition:.4s;

}

.about-image img:hover{

    transform:scale(1.04);

}

.about-content{

    flex:1;

}

.about-content h4{

    color:var(--primary);

    font-size:20px;

    letter-spacing:2px;

    margin-bottom:15px;

}

.about-content h2{

    font-size:48px;

    margin-bottom:20px;

}

.about-content p{

    color:var(--gray);

    margin-bottom:35px;

}

.about-cards{

    display:flex;

    gap:20px;

    flex-wrap:wrap;

}

.about-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    padding:30px;

    width:180px;

    border-radius:18px;

    transition:.35s;

}

.about-card:hover{

    transform:translateY(-10px);

    border-color:var(--primary);

    box-shadow:0 15px 30px rgba(56,189,248,.18);

}

.about-card h3{

    color:var(--primary);

    font-size:34px;

    margin-bottom:10px;

}

.about-card p{

    margin:0;

}

/*==================================
    SECTION TITLE
==================================*/

.section-title{

    text-align:center;

    margin-bottom:70px;

}

.section-title h2{

    font-size:52px;

}

.section-title p{

    color:var(--gray);

    margin-top:12px;

}

/*==================================
    SKILLS
==================================*/

.skills{

    min-height:100vh;

}

.skills-container{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

.skill-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border-radius:20px;

    text-align:center;

    padding:40px 30px;

    transition:.35s;

}

.skill-card:hover{

    transform:translateY(-12px);

    border-color:var(--primary);

    box-shadow:0 15px 35px rgba(56,189,248,.22);

}

.skill-card i{

    font-size:58px;

    color:var(--primary);

    margin-bottom:20px;

}

.skill-card h3{

    margin-bottom:15px;

}

.skill-card p{

    color:var(--gray);

}

/*==================================
    CONTACT
==================================*/

.contact{

    min-height:90vh;

}

.contact-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:60px;
}

.contact-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    border-radius:20px;
    padding:40px 25px;
    text-align:center;
    color:white;
    transition:.35s ease;
}

.contact-card i{
    font-size:45px;
    color:#38BDF8;
    margin-bottom:20px;
}

.contact-card h3{
    margin-bottom:10px;
}

.contact-card p{
    color:#CBD5E1;
}

.contact-card:hover{
    transform:translateY(-10px);
    border-color:#38BDF8;
    box-shadow:0 15px 35px rgba(56,189,248,.25);
}

/*==================================
    FOOTER
==================================*/

footer{

    padding:60px 8%;

    text-align:center;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer-logo{

    font-size:40px;

    margin-bottom:25px;

}

.footer-logo span{

    color:var(--primary);

}

footer .social-icons{

    justify-content:center;

    margin-bottom:30px;

}

footer p{

    color:#94A3B8;

}

/*==================================
    SCROLL ANIMATION
==================================*/

.reveal{

    opacity:0;

    transform:translateY(80px);

    transition:all 1s ease;

}

.reveal.active{

    opacity:1;

    transform:translateY(0);

}

/*==================================
    BACK TO TOP BUTTON
==================================*/

#topBtn{

    position:fixed;

    right:30px;

    bottom:30px;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:var(--primary);

    color:#08111F;

    font-size:22px;

    cursor:pointer;

    display:none;

    box-shadow:0 10px 25px rgba(56,189,248,.35);

    transition:.35s;

    z-index:999;

}

#topBtn:hover{

    transform:translateY(-8px);

}

.contact-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:30px;
    margin-top:50px;
}

.contact-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:35px 25px;
    text-align:center;
    color:#fff;
    transition:.3s;
}

.contact-card i{
    font-size:45px;
    color:#38BDF8;
    margin-bottom:20px;
}

.contact-card:hover{
    transform:translateY(-10px);
    border-color:#38BDF8;
    box-shadow:0 15px 35px rgba(56,189,248,.2);
}

/* ===========================
   RESPONSIVE DESIGN
=========================== */

/* Tablets */
@media (max-width: 992px){

    .hero,
    .about{
        flex-direction: column;
        text-align: center;
        gap: 50px;
        padding: 120px 6% 80px;
    }

    .hero-content,
    .about-content{
        width: 100%;
    }

    .hero-buttons{
        justify-content: center;
        flex-wrap: wrap;
    }

    .social-icons{
        justify-content: center;
    }

    .profile-image,
    .about-image img{
        width: 320px;
        height: 320px;
    }

    .about-cards{
        justify-content: center;
    }

    .section-title h2{
        font-size: 42px;
    }

    .hero h1{
        font-size: 55px;
    }

    .hero h2{
        font-size: 28px;
    }

}

/* Phones */
@media (max-width:768px){

    .navbar{
        padding:20px;
    }

    .nav-links{
        display:none;
    }

    .menu-btn{
        display:block;
        color:white;
        font-size:28px;
    }

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        padding:120px 20px 60px;
    }

    .about{
        flex-direction:column;
        text-align:center;
        padding:80px 20px;
    }

    .hero h1{
        font-size:42px;
    }

    .hero h2{
        font-size:24px;
    }

    .intro{
        font-size:18px;
    }

    .hero-description{
        font-size:16px;
        margin:auto;
    }

    .profile-image,
    .about-image img{
        width:260px;
        height:260px;
    }

    .hero-buttons{
        flex-direction:column;
        align-items:center;
    }

    .btn{
        width:220px;
        text-align:center;
    }

    .skills-container{
        grid-template-columns:1fr;
    }

    .contact-container{
        display:grid;
        grid-template-columns:1fr;
        gap:20px;
    }

    form{
        width:100%;
    }

    input,
    textarea{
        width:100%;
    }

    footer{
        padding:30px 20px;
    }

}

/* Small Phones */
@media (max-width:480px){

    .logo{
        font-size:1.6rem;
    }

    .hero h1{
        font-size:34px;
    }

    .hero h2{
        font-size:20px;
    }

    .section-title h2,
    .section-heading,
    .about-content h2{
        font-size:32px;
    }

    .profile-image,
    .about-image img{
        width:220px;
        height:220px;
    }

    .about-card{
        width:100%;
    }

}

@media (max-width:768px){

    .nav-links{

        position:absolute;
        top:85px;
        left:0;

        width:100%;

        background:#0F172A;

        flex-direction:column;

        align-items:center;

        gap:30px;

        padding:30px 0;

        transform:translateY(-150%);

        transition:.4s;
    }

    .nav-links.open{

        transform:translateY(0);

    }

}

/* ==========================
   PARTICLES BACKGROUND
========================== */

#particles-js{
    position:fixed;
    inset:0;
    z-index:-3;
}

.blur{
    z-index:-2;
}

body{
    position:relative;
}

/* ==========================
   CURSOR GLOW
========================== */

.cursor-glow{

    position:fixed;

    width:250px;

    height:250px;

    border-radius:50%;

    background:radial-gradient(circle,
    rgba(56,189,248,.20) 0%,
    rgba(56,189,248,.05) 40%,
    transparent 75%);

    pointer-events:none;

    transform:translate(-50%,-50%);

    z-index:-1;

    transition:transform .08s linear;
}